/* Estilo componente chat */

.chat-box{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 10px;
}

.text-box{
    /* display: flex;
    flex-direction: column; */
    height: 92vh;
    padding: 15px; 
    /* justify-content: end;
    align-items: end;
    gap: 8px;
    border: 1px solid #000; */
    padding: 20px 0;
    overflow: hidden;
    overflow-y: auto;
 
}

.text-box:last-child .span{
    
}

.text-box > * {
    flex-shrink: 0;
}

.user-box{
   padding: 5px 0;
}

.write-box{
    width: 85%;
}

.sender{
    margin-left: 8px;
    width: 10%;
}


.text-bubble{
    min-width: 20px;
    min-height: 35px;

    /* box-shadow: 0px 0px 10px 1px #cfcfcf; */
}

.span{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgba(172, 225, 172, 0.848);
    max-width: 75%;
}
li{
    margin: 5px 0;
}
ul{
   
}





/* Estilo componente chat */